@tailwind base;
@tailwind components;
@tailwind utilities;

/* HTML태그 등 전역적인 스타일 */
@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }

  * {
    word-break: keep-all;
  }

  body {
    color: var(--foreground);
    background: var(--background);
    @apply font-sans;
  }
}

/* 재사용하는 구조적인 스타일링 */
@layer components {}

/* 하나의 속성에 대해 스타일 */
@layer utilities {}